<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ajouter un noveau compte</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<form [formGroup]="ajouterContactForm" (ngSubmit)="nouveauContact()">
  <ion-item>
    <ion-input type="text" [value]="downloadURL | async" hidden  [(ngModel)]="contact.photo" name="photo" disabled="{{true}}" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Contact photo</ion-label>
    <input type="file" (change)="uploadFile($event)">
    <div>{{ uploadPercent | async }}</div>
  </ion-item>

  <ion-item>
    <ion-label>Nom</ion-label>
    <ion-input type="text" formControlName='nom' [(ngModel)]="contact.nom" name="nom"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Prenom</ion-label>
    <ion-input type="text" formControlName='prenom' [(ngModel)]="contact.prenom" name="prenom"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Email</ion-label>
    <ion-input type="email" formControlName='email' [(ngModel)]="contact.email" name="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Tel</ion-label>
    <ion-input type="Tel" formControlName='tel' [(ngModel)]="contact.tel" name="tel"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Adresse</ion-label>
    <ion-input type="text" formControlName='adresse' [(ngModel)]="contact.adresse" name="adresse"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Ville</ion-label>
    <ion-input type="text" formControlName='ville' [(ngModel)]="contact.ville" name="ville"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label> Service</ion-label>
    <ion-select placeholder="Choisir un service" formControlName='service' [(ngModel)]="contact.service" name="service">
      <ion-select-option value="coiffeur">coiffeur</ion-select-option>
      <ion-select-option value="fleuriste">fleuriste</ion-select-option>
      <ion-select-option value="maçon">maçon</ion-select-option>
      <ion-select-option value="peintre">peintre</ion-select-option>
      <ion-select-option value="plombier">plombier</ion-select-option>
      <ion-select-option value="tailleur">tailleur</ion-select-option>
      <ion-select-option value="tapissier">tapissier</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button expand="block" fill="outline" type="submit">Envoyer</ion-button>
</form>
</ion-content>