<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Acceuil</ion-list-header>
          <ion-note>Bonjour Chers :  {{currentUserEmail}}</ion-note>
            <ion-img class="clientAvatar"
              src="https://media.istockphoto.com/id/855354194/vector/bienvenue.jpg?s=612x612&w=0&k=20&c=szqge6SMQ8dUzbq3yRvYyYGpbMRHTRnZhTfKNzd8JE8=">
            </ion-img>
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                <ion-icon slot="start" [md]="p.icon"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
        </ion-list>
        <ion-list>
          <ion-item>
            <ion-icon name="moon"></ion-icon>
            <ion-icon name="sunny"></ion-icon>
            <ion-label> &nbsp; Sombre/<br> &nbsp; Lumineaux</ion-label>
            <ion-toggle slot="end" mode="ios" [checked]="isDark" (ionChange)="toggleDark($event)"></ion-toggle>
          </ion-item>
        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
