<ion-header>
  <ion-toolbar>
    <ion-title>Modifier Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="ModifierForm" (ngSubmit)="Modifier()">
    <ion-item>
      <ion-label>Nom</ion-label>
      <ion-input type="text" formControlName='nom' value={{contact.nom}}></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Prenom</ion-label>
      <ion-input type="text" formControlName='prenom' value={{contact.prenom}}></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="email" formControlName='email' value={{contact.email}}></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Tel</ion-label>
      <ion-input type="Tel" formControlName='tel' value={{contact.tel}}></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Adresse</ion-label>
      <ion-input type="text" formControlName='adresse' value={{contact.adresse}}></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Ville</ion-label>
      <ion-input type="text" formControlName='ville' value={{contact.ville}}></ion-input>
    </ion-item>
    <ion-item>
      <ion-label> Service</ion-label>
      <ion-select placeholder="Choisir un servicee" formControlName='service' value={{contact.service}}>
        <ion-select-option value="coiffeur">coiffeur</ion-select-option>
        <ion-select-option value="fleuriste">fleuriste</ion-select-option>
        <ion-select-option value="maçon">maçon</ion-select-option>
        <ion-select-option value="peintre">peintre</ion-select-option>
        <ion-select-option value="plombier">plombier</ion-select-option>
        <ion-select-option value="tailleur">tailleur</ion-select-option>
        <ion-select-option value="tapissier">tapissier</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button expand="block" fill="outline" type="submit">Envoyer</ion-button>
  </form>
  </ion-content>