<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- ----------------------------------------------------------------------- -->
<form class="ion-padding" *ngIf="compte" (ngSubmit)="updateProfile()">
  <ion-item>
    <ion-img [src]="image"></ion-img>
  </ion-item>
  <ion-item>
    <ion-label>Nom</ion-label>
    <ion-input type="text" value={{compte.nom}} [(ngModel)]="compte.nom" name="nom" disabled="{{modified}}" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Prenom</ion-label>
    <ion-input type="text" value={{compte.prenom}} name="compte.prenom" disabled="{{modified}}" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Email</ion-label>
    <ion-input type="email" value={{compte.email}} name="compte.email" disabled="true" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Tel</ion-label>
    <ion-input type="Tel" value={{compte.tel}} name="compte.tel" disabled="{{modified}}" ></ion-input>
  </ion-item>
  <ion-button style="--background:#95cc61" expand="block" fill="solid" *ngIf="!this.modified" type="ngSubmit"> Enregistrer</ion-button>
  <ion-button style="--background:#6666ff" expand="block" fill="solid" (click)="modifier()">Modifier</ion-button>
</form>
</ion-content>
